<!DOCTYPE html>
 <html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h2>MédiaMestre</h2>
      <p class="welcome-text">Suas Disciplinas:</p>
      <br/>
      <!--
        Básicamente, só falta pegar as matérias no banco e colocar em um if entre chaves e com o %(se eu escrever a página cai)
        e ir colocando as matérias de 3 em 3 ou o tamanho que voces acharem melhor.
        
        O css está feio, não sei mexer em frontend :( vou mexer no código do cálculo de nota para poder colocar nas "páginas específicas"
        de cada uma das matérias.

        Não vai dar para testar o código porém, então quando eu fizer, favor alguem ver se funciona :P 
      
      
      -->
        <!-- <table align="center">
            <tr>
                <td>
                    <a href="/disciplines?cod=cod0000">
                        <div class="container">
                            <p>Algoritmos e Produção de códigos</p>
                            <p>cod0000</p>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="/disciplines?cod=cod0000">
                        <div class="container">
                            <p>Desenho Industrial Assistido por Computadores</p>
                            <p>cod0000</p>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="/disciplines?cod=cod0000">
                        <div class="container">
                            <p>Cálculo 1</p>
                            <p>cod0000</p>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/disciplines?cod=cod0000">
                        <div class="container">
                            <p>Projeto de Algoritmos</p>
                            <p>cod0000</p>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="/disciplines?cod=cod0000">
                        <div class="container">
                            <p>teste</p>
                            <p>cod0000</p>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="/disciplines?cod=cod0000">
                        <div class="container">
                            <p>teste</p>
                            <p>cod0000</p>
                        </div>
                    </a>
                </td>
            </tr>


        </table>-->

        <table align="center">
            <tr>
              {% for disciplina in disciplinas %}
                <td>
                  <a href="/disciplinas/{{ disciplina.discipline_code }}">
                    <div class="container">
                      <p>{{ disciplina.discipline_name }}</p>
                      <p>{{ disciplina.discipline_code }}</p>
                    </div>
                  </a>
                </td>
                {% if loop.index % 3 == 0 %}
                  </tr><tr>
                {% endif %}
              {% endfor %}
            </tr>
          </table> 
          


      <a href="/dashboard">
        <button>Voltar ao menu</button>
      </a>
    </div>
  </body>
</html> 


