<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Bem-vindo!</h2>
      <p class="welcome-text">Você está logado no seu dashboard.</p>
      <!-- Botão Adicionar Disciplina -->
      <button class="adicionar-disciplina" id="btnAdicionarDisciplina">
        Adicionar Disciplina
      </button>
      <br />
      <button class="adicionar-disciplina" id="btnAdicionarDisciplina">
        Calendario
      </button>
    </div>
  </body>
</html>
