<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    k
    <title>Média Mestre - Páginha do Usuário</title>
  </head>
  <body>
    <div class="container">
      <h1>Página do Usuário</h1>
      <a href="/discipline-management">
        <button>Gerenciar Disciplinas</button>
      </a>
      <a href="/calendar">
        <button>Acessar Calendário</button>
      </a>
    </div>
  </body>
</html>
